<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
</head>
<body>
  <form action="newnote" method="post">
    <div>
      <label for="memberName">
        member name:
        <input type="text" name="memberName" id="memberName" value="" />
      </label>
    </div>
    <div>
      <label for="project">
        project:
        <input type="text" name="project" id="project" value="" />
      </label>
    </div>
    <div>
      <label for="workYesterday">
        work yesterday: 
        <input type="text" name="workYesterday" id="workYesterday" value="" />
      </label>
    </div>
    <div>
      <label for="workToday">
        work today: 
        <input type="text" name="workToday" id="workToday" value="" />
      </label>
    </div>
    <div>
      <label for="impediment">
        impediment:
        <input type="text" name="impediment" id="impediment" value="" />
      </label>
    </div>
    <div>
      <button name="send" id="send">Send</button>
    </div>
  </form>
</body>
</html>

